## Links for Reference:

https://www.dataquest.io/blog/python-json-tutorial/

https://realpython.com/python-json/

https://pythonspot.com/json-encoding-and-decoding-with-python/

In [1]:
import json
import pandas as pd

In [2]:
names = ['parcel{}.json'.format(i) for i in range(10000)]

In [3]:
result = []
for lot in range(1,1000):
    infile = 'parcel{}'.format(lot)
    with open(infile, 'r') as infile:
        try:
            result.append(json.load(infile))
        except ValueError:
            print(lot)

In [4]:
len(result)

999

In [4]:
df = pd.DataFrame(result)

In [5]:
df.head(10)

,Assessment Classification*,Assessment Improvement,Assessment Land,Assessment Total,Assessment Year,Baths,Beds,Building Condition,Building Grade,Building Type,...,Neighborhood,Number of Living Units,Roof Cover,Rooms,Square Footage,Story Height,Tax District,Total Appraisal Value,Year Built,Zone
0,AG/RES,$0,"$2,655","$2,655",2019,,,,,,...,6801,,,,0,,GSD,"$10,621",,5
1,AG/RES,$0,"$4,081","$4,081",2019,,,,,,...,6801,,,,0,,GSD,"$16,323",,5
2,EXE,$0,$0,$0,2019,,,,,,...,6802,,,,0,,GSD,$0,,5
3,EXE,$0,$0,$0,2019,2,3,Poor,E,SINGLE FAM,...,6802,1,METAL,6,"1,224",ONE STY,RT,"$47,100",1932,5
4,EXE,$0,$0,$0,2019,,,,,,...,6802,,,,0,,GSD,"$27,400",,5
5,RURAL,"$6,950","$6,250","$13,200",2019,,,,,,...,6802,,,,0,,RT,"$52,800",,5
6,RURAL,"$22,175","$11,675","$33,850",2019,1,3,Fair,D,SINGLE FAM,...,6802,1,ASPHALT,7,"1,920",ONE STY,RT,"$135,400",1964,5
7,RURAL,"$27,425","$10,025","$37,450",2019,2,4,Average,C,SINGLE FAM,...,6802,1,ASPHALT,7,"1,464",ONE STY,RT,"$149,800",1962,5
8,RURAL,$0,"$4,950","$4,950",2019,,,,,,...,6802,,,,0,,RT,"$19,800",,5
9,RURAL,$0,$0,$0,2019,2,3,Average,C,SINGLE FAM,...,6802,1,ASPHALT,6,"1,787",ONE STY,GSD,$0,1960,5

In [7]:
df['Map & Parcel'].head()

0        001 00 0 001.00
1        001 00 0 002.00
2        002 00 0 001.00
3    002 00 0 001.00 001
4    002 00 0 001.00 002
Name: Map & Parcel, dtype: object

In [8]:
xdf = pd.read_csv('sales2015.csv')
df16= pd.read_csv('sales2016.csv')
xdf.head()

,Unnamed: 0,Parcel ID,Land Use,Property Address,Suite/ Condo #,Property City,Sale Date,Sale Price,Legal Reference,Sold As Vacant,Multiple Parcels Involved in Sale
0,0,105 03 0 038.00,VACANT RESIDENTIAL LAND,1115 3RD AVE S,NaN,NASHVILLE,2015-01-09,100000,20150109-0002515,Yes,No
1,1,105 03 0 141.00,VACANT RESIDENTIAL LAND,21 WHARF AVE,NaN,NASHVILLE,2015-01-21,292005,20150122-0006496,No,Yes
2,2,105 03 0 312.00,VACANT RESIDENTIAL LAND,1206 1ST AVE S,NaN,NASHVILLE,2015-01-21,292005,20150122-0006496,No,Yes
3,3,105 03 0 313.00,RESIDENTIAL COMBO/MISC,5 TRIMBLE ST,NaN,NASHVILLE,2015-01-21,292005,20150122-0006496,No,Yes
4,4,105 03 0 314.00,SINGLE FAMILY,7 TRIMBLE ST,NaN,NASHVILLE,2015-01-21,292005,20150122-0006496,No,Yes

In [17]:
jdf = df.merge(xdf, right_on='Parcel ID', left_on='Map & Parcel')

jdf.head()

,Assessment Classification*,Assessment Improvement,Assessment Land,Assessment Total,Assessment Year,Baths,Beds,Building Condition,Building Grade,Building Type,...,Parcel ID,Land Use,Property Address,Suite/ Condo #,Property City,Sale Date,Sale Price,Legal Reference,Sold As Vacant,Multiple Parcels Involved in Sale
0,RES,"$67,600","$18,425","$86,025",2019,2,3,Average,C,SINGLE FAM,...,007 14 0 026.00,SINGLE FAMILY,1428 SPRINGFIELD HWY,NaN,GOODLETTSVILLE,2015-08-14,285000,20150819-0083440,No,No
1,RES,"$36,000","$16,250","$52,250",2019,2,4,Average,C,SINGLE FAM,...,007 15 0 014.00,SINGLE FAMILY,644 GAYLEMORE DR,NaN,GOODLETTSVILLE,2015-03-31,185900,20150402-0029022,No,No
2,RES,"$72,325","$16,250","$88,575",2019,3,3,Average,B,SINGLE FAM,...,007 15 0 044.00,SINGLE FAMILY,2050 GRACELAND DR,NaN,GOODLETTSVILLE,2015-02-10,279900,20150212-0012993,No,No

In [18]:
jdf.dtypes

Assessment Classification*           object
Assessment Improvement               object
Assessment Land                      object
Assessment Total                     object
Assessment Year                      object
Baths                                object
Beds                                 object
Building Condition                   object
Building Grade                       object
Building Type                        object
Current Owner                        object
Deed Reference                       object
Exterior Wall                        object
Fixtures                             object
Foundation Type                      object
Frame Type                           object
Half Bath                            object
Improvement Value                    object
Land Area                            object
Land Value                           object
Location                             object
Mailing Address                      object
Map & Parcel                         object
Most Recent Sale Date                object
Most Recent Sale Price               object
Neighborhood                         object
Number of Living Units               object
Roof Cover                           object
Rooms                                object
Square Footage                       object
Story Height                         object
Tax District                         object
Total Appraisal Value                object
Year Built                           object
Zone                                 object
Unnamed: 0                            int64
Parcel ID                            object
Land Use                             object
Property Address                     object
Suite/ Condo   #                     object
Property City                        object
Sale Date                            object
Sale Price                            int64
Legal Reference                      object
Sold As Vacant                       object
Multiple Parcels Involved in Sale    object
dtype: object

In [19]:
jdf['Sale Date'] = pd.to_datetime(df['Sale Date'])

KeyError: 'Sale Date'

In [21]:
jdf.to_csv('jdf.csv')

In [24]:
mydf=pd.read_csv('jdf.csv')

mydf.head()

,Unnamed: 0,Assessment Classification*,Assessment Improvement,Assessment Land,Assessment Total,Assessment Year,Baths,Beds,Building Condition,Building Grade,...,Parcel ID,Land Use,Property Address,Suite/ Condo #,Property City,Sale Date,Sale Price,Legal Reference,Sold As Vacant,Multiple Parcels Involved in Sale
0,0,RES,"$67,600","$18,425","$86,025",2019,2,3,Average,C,...,007 14 0 026.00,SINGLE FAMILY,1428 SPRINGFIELD HWY,NaN,GOODLETTSVILLE,2015-08-14,285000,20150819-0083440,No,No
1,1,RES,"$36,000","$16,250","$52,250",2019,2,4,Average,C,...,007 15 0 014.00,SINGLE FAMILY,644 GAYLEMORE DR,NaN,GOODLETTSVILLE,2015-03-31,185900,20150402-0029022,No,No
2,2,RES,"$72,325","$16,250","$88,575",2019,3,3,Average,B,...,007 15 0 044.00,SINGLE FAMILY,2050 GRACELAND DR,NaN,GOODLETTSVILLE,2015-02-10,279900,20150212-0012993,No,No

In [26]:
mydf.dtypes

Unnamed: 0                             int64
Assessment Classification*            object
Assessment Improvement                object
Assessment Land                       object
Assessment Total                      object
Assessment Year                        int64
Baths                                  int64
Beds                                   int64
Building Condition                    object
Building Grade                        object
Building Type                         object
Current Owner                         object
Deed Reference                        object
Exterior Wall                         object
Fixtures                               int64
Foundation Type                       object
Frame Type                            object
Half Bath                              int64
Improvement Value                     object
Land Area                             object
Land Value                            object
Location                              object
Mailing Address                       object
Map & Parcel                          object
Most Recent Sale Date                 object
Most Recent Sale Price                object
Neighborhood                           int64
Number of Living Units                 int64
Roof Cover                            object
Rooms                                  int64
Square Footage                        object
Story Height                          object
Tax District                          object
Total Appraisal Value                 object
Year Built                             int64
Zone                                   int64
Unnamed: 0.1                           int64
Parcel ID                             object
Land Use                              object
Property Address                      object
Suite/ Condo   #                     float64
Property City                         object
Sale Date                             object
Sale Price                             int64
Legal Reference                       object
Sold As Vacant                        object
Multiple Parcels Involved in Sale     object
dtype: object

In [30]:
mydf['Land Use'] = mydf['Land Use'].astype(str)

print(type(mydf['Land Use']))

print(mydf['Land Use'].unique())

print(mydf.head())

<class 'pandas.core.series.Series'>
['SINGLE FAMILY']
   Unnamed: 0 Assessment Classification* Assessment Improvement  \
0           0                        RES                $67,600
1           1                        RES                $36,000
2           2                        RES                $72,325

  Assessment Land Assessment Total  Assessment Year  Baths  Beds  \
0         $18,425          $86,025             2019      2     3
1         $16,250          $52,250             2019      2     4
2         $16,250          $88,575             2019      3     3

  Building Condition Building Grade                ...                 \
0            Average              C                ...
1            Average              C                ...
2            Average              B                ...

         Parcel ID       Land Use       Property Address Suite/ Condo   #  \
0  007 14 0 026.00  SINGLE FAMILY  1428  SPRINGFIELD HWY              NaN
1  007 15 0 014.00  SINGLE FAMILY      644  GAYLEMORE DR              NaN
2  007 15 0 044.00  SINGLE FAMILY     2050  GRACELAND DR              NaN

    Property City   Sale Date Sale Price   Legal Reference Sold As Vacant  \
0  GOODLETTSVILLE  2015-08-14     285000  20150819-0083440             No
1  GOODLETTSVILLE  2015-03-31     185900  20150402-0029022             No
2  GOODLETTSVILLE  2015-02-10     279900  20150212-0012993             No

  Multiple Parcels Involved in Sale
0                                No
1                                No
2                                No

[3 rows x 47 columns]