# JSON Merger

## Links for Reference:

https://www.dataquest.io/blog/python-json-tutorial/

https://realpython.com/python-json/

https://pythonspot.com/json-encoding-and-decoding-with-python/

In [1]:
import json
import pandas as pd
import numpy as np

In [3]:
result = []
for lot in range(1,270000):
    infile = "/Users/alehe/OneDrive/Documents/Jupyter/SharpestMinds/Parcels/parcel{}".format(lot)
    with open(infile, 'r') as infile:
        try:
            result.append(json.load(infile))
        except ValueError: 
            continue

In [4]:
len(result)

269998

In [5]:
df = pd.DataFrame(result)

In [6]:
sales = pd.read_csv('/Users/alehe/OneDrive/Documents/Jupyter/SharpestMinds/sales.csv')

sales.shape

(72499, 10)

In [8]:
xdf = pd.read_csv('/Users/alehe/OneDrive/Documents/Jupyter/SharpestMinds/sales.csv')

xdf.head()

,Parcel ID,Land Use,Property Address,Suite/ Condo #,Property City,Sale Date,Sale Price,Legal Reference,Sold As Vacant,Multiple Parcels Involved in Sale
0,105 03 0 038.00,VACANT RESIDENTIAL LAND,1115 3RD AVE S,NaN,NASHVILLE,1/9/2015,100000,20150109-0002515,Yes,No
1,105 03 0 141.00,VACANT RESIDENTIAL LAND,21 WHARF AVE,NaN,NASHVILLE,1/21/2015,292005,20150122-0006496,No,Yes
2,105 03 0 312.00,VACANT RESIDENTIAL LAND,1206 1ST AVE S,NaN,NASHVILLE,1/21/2015,292005,20150122-0006496,No,Yes
3,105 03 0 313.00,RESIDENTIAL COMBO/MISC,5 TRIMBLE ST,NaN,NASHVILLE,1/21/2015,292005,20150122-0006496,No,Yes
4,105 03 0 314.00,SINGLE FAMILY,7 TRIMBLE ST,NaN,NASHVILLE,1/21/2015,292005,20150122-0006496,No,Yes

In [9]:
jdf = df.merge(xdf, right_on='Parcel ID', left_on='Map & Parcel')
  
jdf.shape

(71820, 45)

In [14]:
jdf.to_csv('merged.csv')