In [1]:
import json
import pandas as pd
import numpy as np

In [8]:
df=pd.read_csv('merged.csv', index_col=None)

In [9]:
df.head()

,Assessment Classification,Assessment Improvement,Assessment Land,Assessment Total,Assessment Year,Baths,Beds,Building Condition,Building Grade,Building Type,...,Parcel ID,Land Use,Property Address,Suite/ Condo #,Property City,Sale Date,Sale Price,Legal Reference,Sold As Vacant,Multiple Parcels Involved in Sale
0,RES,"$86,825","$20,000","$106,825",2019,3.0,4.0,Average,C,SINGLE FAM,...,007 00 0 138.00,SINGLE FAMILY,1864 FOX CHASE DR,NaN,GOODLETTSVILLE,9/26/2016,435000,20160927-0101718,No,No
1,RES,"$85,200","$20,000","$105,200",2019,3.0,4.0,Average,C,SINGLE FAM,...,007 00 0 140.00,SINGLE FAMILY,1865 FOX CHASE DR,NaN,GOODLETTSVILLE,7/6/2017,434900,20170710-0068825,No,No
2,RES,"$46,650","$20,000","$66,650",2019,3.0,3.0,Average,C,SINGLE FAM,...,007 00 0 143.00,SINGLE FAMILY,1853 FOX CHASE DR,NaN,GOODLETTSVILLE,1/29/2016,255000,20160129-0008913,No,No
3,RES,"$46,650","$20,000","$66,650",2019,3.0,3.0,Average,C,SINGLE FAM,...,007 00 0 143.00,SINGLE FAMILY,1853 FOX CHASE DR,NaN,GOODLETTSVILLE,3/14/2019,345000,20190329-0028516,No,No
4,RES,"$19,050","$20,800","$39,850",2019,1.0,3.0,Average,C,SINGLE FAM,...,007 10 0 009.00,SINGLE FAMILY,1972 TINNIN RD,NaN,GOODLETTSVILLE,12/19/2016,155000,20161220-0133510,No,No

In [13]:
df.dtypes
#There are some duplicate columns here, such as "Most Recent Sale Date" and "Sale Date", and "Most Recent Sale Price" and "Sale Price"

Assessment Classification             object
Assessment Improvement                object
Assessment Land                       object
Assessment Total                      object
Assessment Year                        int64
Baths                                float64
Beds                                 float64
Building Condition                    object
Building Grade                        object
Building Type                         object
Current Owner                         object
Deed Reference                        object
Exterior Wall                         object
Fixtures                             float64
Foundation Type                       object
Frame Type                            object
Half Bath                            float64
Improvement Value                     object
Land Area                             object
Land Value                            object
Location                              object
Mailing Address                       object
Map & Parcel                          object
Most Recent Sale Date                 object
Most Recent Sale Price                object
Neighborhood                           int64
Number of Living Units               float64
Roof Cover                            object
Rooms                                float64
Square Footage                        object
Story Height                          object
Tax District                          object
Total Appraisal Value                 object
Year Built                           float64
Zone                                   int64
Parcel ID                             object
Land Use                              object
Property Address                      object
Suite/ Condo   #                      object
Property City                         object
Sale Date                             object
Sale Price                             int64
Legal Reference                       object
Sold As Vacant                        object
Multiple Parcels Involved in Sale     object
dtype: object

In [3]:
def dolcomma(col):
    return pd.to_numeric(col.map(lambda x: x.replace(',', '').replace('$','')))

In [49]:
#Cleaning up monetary columns and converting to integer
df['Assessment Improvement Improved']=dolcomma(df['Assessment Land'])
df['Most Recent Sale Price Improved'] = dolcomma(df['Most Recent Sale Price'])
df['Square Footage Improved'] = dolcomma(df['Square Footage'])
df['Improvement Value Improved']= dolcomma(df['Improvement Value'])
df['Assessment Total Improved']= dolcomma(df['Assessment Total'])
df['Land Value Improved']=dolcomma(df['Land Value'])
df['Assessment Land Improved']=dolcomma(df['Assessment Land'])
df['Total Appraisal Value Improved']=dolcomma(df['Total Appraisal Value'])

In [61]:
#Cleaning up certain date columns
df['Most Recent Sale Date Improved']=pd.to_datetime(df['Most Recent Sale Date'])
df['Sale Date Improved']=pd.to_datetime(df['Sale Date'])

In [55]:
#Converting 'Land Area' column to clean float
df['Land Area Acres'] = df['Land Area'].map(lambda x: x.replace(' ','').replace('Acres', '')).map(lambda x: float(x))

In [60]:
df.head()

,Assessment Classification,Assessment Improvement,Assessment Land,Assessment Total,Assessment Year,Baths,Beds,Building Condition,Building Grade,Building Type,...,Assessment Improvement Improved,Most Recent Sale Price Improved,Square Footage Improved,Improvement Value Improved,Assessment Total Improved,Land Value Improved,Total Appraisal Value Improved,Land Area Improved,Land Area Acres,Most Recent Sale Date Improved
0,RES,"$86,825","$20,000","$106,825",2019,3.0,4.0,Average,C,SINGLE FAM,...,2.0,4,4,3.0,1.0,8.0,4.0,2.9,2.9,2016-09-26
1,RES,"$85,200","$20,000","$105,200",2019,3.0,4.0,Average,C,SINGLE FAM,...,2.0,4,3,3.0,1.0,8.0,4.0,2.6,2.6,2017-07-06
2,RES,"$46,650","$20,000","$66,650",2019,3.0,3.0,Average,C,SINGLE FAM,...,2.0,3,2,1.0,6.0,8.0,2.0,2.6,2.6,2019-03-14
3,RES,"$46,650","$20,000","$66,650",2019,3.0,3.0,Average,C,SINGLE FAM,...,2.0,3,2,1.0,6.0,8.0,2.0,2.6,2.6,2019-03-14
4,RES,"$19,050","$20,800","$39,850",2019,1.0,3.0,Average,C,SINGLE FAM,...,2.0,1,1,7.0,3.0,8.0,1.0,2.4,2.4,2016-12-19