# JSON Merger

## Links for Reference:

https://www.dataquest.io/blog/python-json-tutorial/

https://realpython.com/python-json/

https://pythonspot.com/json-encoding-and-decoding-with-python/

In [2]:
import json
import pandas as pd

In [3]:
names = ['parcel{}.json'.format(i) for i in range(10000)]

In [4]:
result = []
for lot in range(1,1000):
    infile = 'Parcels/parcel{}'.format(lot)
    with open(infile, 'r') as infile:
        try:
            result.append(json.load(infile))
        except ValueError:
            continue

In [12]:
len(result)

999

In [5]:
df = pd.DataFrame(result)

In [6]:
df.head(10)

,Assessment Classification*,Assessment Improvement,Assessment Land,Assessment Total,Assessment Year,Baths,Beds,Building Condition,Building Grade,Building Type,...,Neighborhood,Number of Living Units,Roof Cover,Rooms,Square Footage,Story Height,Tax District,Total Appraisal Value,Year Built,Zone
0,AG/RES,$0,"$2,655","$2,655",2019,,,,,,...,6801,,,,0,,GSD,"$10,621",,5
1,AG/RES,$0,"$4,081","$4,081",2019,,,,,,...,6801,,,,0,,GSD,"$16,323",,5
2,EXE,$0,$0,$0,2019,,,,,,...,6802,,,,0,,GSD,$0,,5
3,EXE,$0,$0,$0,2019,2,3,Poor,E,SINGLE FAM,...,6802,1,METAL,6,"1,224",ONE STY,RT,"$47,100",1932,5
4,EXE,$0,$0,$0,2019,,,,,,...,6802,,,,0,,GSD,"$27,400",,5
5,RURAL,"$6,950","$6,250","$13,200",2019,,,,,,...,6802,,,,0,,RT,"$52,800",,5
6,RURAL,"$22,175","$11,675","$33,850",2019,1,3,Fair,D,SINGLE FAM,...,6802,1,ASPHALT,7,"1,920",ONE STY,RT,"$135,400",1964,5
7,RURAL,"$27,425","$10,025","$37,450",2019,2,4,Average,C,SINGLE FAM,...,6802,1,ASPHALT,7,"1,464",ONE STY,RT,"$149,800",1962,5
8,RURAL,$0,"$4,950","$4,950",2019,,,,,,...,6802,,,,0,,RT,"$19,800",,5
9,RURAL,$0,$0,$0,2019,2,3,Average,C,SINGLE FAM,...,6802,1,ASPHALT,6,"1,787",ONE STY,GSD,$0,1960,5

In [11]:
df['Map & Parcel'].head()

0        001 00 0 001.00
1        001 00 0 002.00
2        002 00 0 001.00
3    002 00 0 001.00 001
4    002 00 0 001.00 002
Name: Map & Parcel, dtype: object

In [10]:
xdf = pd.read_csv('sales2016.csv')

xdf.head()

,Unnamed: 0,Parcel ID,Land Use,Property Address,Suite/ Condo #,Property City,Sale Date,Sale Price,Legal Reference,Sold As Vacant,Multiple Parcels Involved in Sale
0,0,105 03 0E 002.00,RESIDENTIAL CONDO,1064 B 2ND AVE S,NaN,NASHVILLE,2016-01-08,218500,20160111-0002880,No,No
1,1,105 07 0 126.00,VACANT RESIDENTIAL LAND,1305 C PILLOW ST,NaN,NASHVILLE,2016-01-04,140000,20160106-0001041,Yes,No
2,2,105 07 0 136.00,SINGLE FAMILY,1322 PILLOW ST,NaN,NASHVILLE,2016-01-29,1250000,20160202-0009909,No,Yes
3,3,105 07 0 137.00,VACANT RESIDENTIAL LAND,1318 PILLOW ST,NaN,NASHVILLE,2016-01-29,1250000,20160202-0009909,No,Yes
4,4,105 07 0 156.00,DUPLEX,1317 LITTLE HAMILTON AVE,NaN,NASHVILLE,2016-01-29,205500,20160203-0010634,No,No

In [12]:
jdf = df.merge(xdf, right_on='Parcel ID', left_on='Map & Parcel')

jdf.head(10)

,Assessment Classification*,Assessment Improvement,Assessment Land,Assessment Total,Assessment Year,Baths,Beds,Building Condition,Building Grade,Building Type,...,Parcel ID,Land Use,Property Address,Suite/ Condo #,Property City,Sale Date,Sale Price,Legal Reference,Sold As Vacant,Multiple Parcels Involved in Sale
0,RES,"$86,825","$20,000","$106,825",2019,3,4,Average,C,SINGLE FAM,...,007 00 0 138.00,SINGLE FAMILY,1864 FOX CHASE DR,NaN,GOODLETTSVILLE,2016-09-26,435000,20160927-0101718,No,No
1,RES,"$46,650","$20,000","$66,650",2019,3,3,Average,C,SINGLE FAM,...,007 00 0 143.00,SINGLE FAMILY,1853 FOX CHASE DR,NaN,GOODLETTSVILLE,2016-01-29,255000,20160129-0008913,No,No
2,RES,"$19,050","$20,800","$39,850",2019,1,3,Average,C,SINGLE FAM,...,007 10 0 009.00,SINGLE FAMILY,1972 TINNIN RD,NaN,GOODLETTSVILLE,2016-12-19,155000,20161220-0133510,No,No
3,RES,"$49,450","$16,250","$65,700",2019,2,3,Average,C,SINGLE FAM,...,007 14 0 024.00,SINGLE FAMILY,1917 GRACELAND DR,NaN,GOODLETTSVILLE,2016-09-27,262000,20161005-0105441,No,No
4,RES,"$36,950","$16,250","$53,200",2019,2,4,Average,C,SINGLE FAM,...,007 15 0 008.00,SINGLE FAMILY,1976 SADIE LN,NaN,GOODLETTSVILLE,2016-07-15,211500,20160720-0074793,No,No
5,RES,"$36,350","$16,250","$52,600",2019,2,3,Average,C,SINGLE FAM,...,007 15 0 030.00,SINGLE FAMILY,2005 GRACELAND DR,NaN,GOODLETTSVILLE,2016-12-12,218500,20161214-0131015,No,No
6,RES,"$85,275","$21,475","$106,750",2019,4,5,Average,C,R1 DUPLEX,...,007 15 0 048.00,SINGLE FAMILY,2034 GRACELAND DR,NaN,GOODLETTSVILLE,2016-04-14,379900,20160418-0036715,No,No

In [13]:
jdf.dtypes

Assessment Classification*           object
Assessment Improvement               object
Assessment Land                      object
Assessment Total                     object
Assessment Year                      object
Baths                                object
Beds                                 object
Building Condition                   object
Building Grade                       object
Building Type                        object
Current Owner                        object
Deed Reference                       object
Exterior Wall                        object
Fixtures                             object
Foundation Type                      object
Frame Type                           object
Half Bath                            object
Improvement Value                    object
Land Area                            object
Land Value                           object
Location                             object
Mailing Address                      object
Map & Parcel                         object
Most Recent Sale Date                object
Most Recent Sale Price               object
Neighborhood                         object
Number of Living Units               object
Roof Cover                           object
Rooms                                object
Square Footage                       object
Story Height                         object
Tax District                         object
Total Appraisal Value                object
Year Built                           object
Zone                                 object
Unnamed: 0                            int64
Parcel ID                            object
Land Use                             object
Property Address                     object
Suite/ Condo   #                     object
Property City                        object
Sale Date                            object
Sale Price                            int64
Legal Reference                      object
Sold As Vacant                       object
Multiple Parcels Involved in Sale    object
dtype: object

In [14]:
jdf.to_csv('jdf.csv')

In [15]:
mydf=pd.read_csv('jdf.csv')

mydf.head(10)

,Unnamed: 0,Assessment Classification*,Assessment Improvement,Assessment Land,Assessment Total,Assessment Year,Baths,Beds,Building Condition,Building Grade,...,Parcel ID,Land Use,Property Address,Suite/ Condo #,Property City,Sale Date,Sale Price,Legal Reference,Sold As Vacant,Multiple Parcels Involved in Sale
0,0,RES,"$86,825","$20,000","$106,825",2019,3,4,Average,C,...,007 00 0 138.00,SINGLE FAMILY,1864 FOX CHASE DR,NaN,GOODLETTSVILLE,2016-09-26,435000,20160927-0101718,No,No
1,1,RES,"$46,650","$20,000","$66,650",2019,3,3,Average,C,...,007 00 0 143.00,SINGLE FAMILY,1853 FOX CHASE DR,NaN,GOODLETTSVILLE,2016-01-29,255000,20160129-0008913,No,No
2,2,RES,"$19,050","$20,800","$39,850",2019,1,3,Average,C,...,007 10 0 009.00,SINGLE FAMILY,1972 TINNIN RD,NaN,GOODLETTSVILLE,2016-12-19,155000,20161220-0133510,No,No
3,3,RES,"$49,450","$16,250","$65,700",2019,2,3,Average,C,...,007 14 0 024.00,SINGLE FAMILY,1917 GRACELAND DR,NaN,GOODLETTSVILLE,2016-09-27,262000,20161005-0105441,No,No
4,4,RES,"$36,950","$16,250","$53,200",2019,2,4,Average,C,...,007 15 0 008.00,SINGLE FAMILY,1976 SADIE LN,NaN,GOODLETTSVILLE,2016-07-15,211500,20160720-0074793,No,No
5,5,RES,"$36,350","$16,250","$52,600",2019,2,3,Average,C,...,007 15 0 030.00,SINGLE FAMILY,2005 GRACELAND DR,NaN,GOODLETTSVILLE,2016-12-12,218500,20161214-0131015,No,No
6,6,RES,"$85,275","$21,475","$106,750",2019,4,5,Average,C,...,007 15 0 048.00,SINGLE FAMILY,2034 GRACELAND DR,NaN,GOODLETTSVILLE,2016-04-14,379900,20160418-0036715,No,No

In [16]:
mydf.dtypes

Unnamed: 0                             int64
Assessment Classification*            object
Assessment Improvement                object
Assessment Land                       object
Assessment Total                      object
Assessment Year                        int64
Baths                                  int64
Beds                                   int64
Building Condition                    object
Building Grade                        object
Building Type                         object
Current Owner                         object
Deed Reference                        object
Exterior Wall                         object
Fixtures                               int64
Foundation Type                       object
Frame Type                            object
Half Bath                              int64
Improvement Value                     object
Land Area                             object
Land Value                            object
Location                              object
Mailing Address                       object
Map & Parcel                          object
Most Recent Sale Date                 object
Most Recent Sale Price                object
Neighborhood                           int64
Number of Living Units                 int64
Roof Cover                            object
Rooms                                  int64
Square Footage                        object
Story Height                          object
Tax District                          object
Total Appraisal Value                 object
Year Built                             int64
Zone                                   int64
Unnamed: 0.1                           int64
Parcel ID                             object
Land Use                              object
Property Address                      object
Suite/ Condo   #                     float64
Property City                         object
Sale Date                             object
Sale Price                             int64
Legal Reference                       object
Sold As Vacant                        object
Multiple Parcels Involved in Sale     object
dtype: object

In [17]:
mydf['Land Use'] = mydf['Land Use'].astype(str)

print(type(mydf['Land Use']))

print(mydf['Land Use'].unique())

print(mydf.head())

<class 'pandas.core.series.Series'>
['SINGLE FAMILY']
   Unnamed: 0 Assessment Classification* Assessment Improvement  \
0           0                        RES                $86,825
1           1                        RES                $46,650
2           2                        RES                $19,050
3           3                        RES                $49,450
4           4                        RES                $36,950

  Assessment Land Assessment Total  Assessment Year  Baths  Beds  \
0         $20,000         $106,825             2019      3     4
1         $20,000          $66,650             2019      3     3
2         $20,800          $39,850             2019      1     3
3         $16,250          $65,700             2019      2     3
4         $16,250          $53,200             2019      2     4

  Building Condition Building Grade                ...                 \
0            Average              C                ...
1            Average              C                ...
2            Average              C                ...
3            Average              C                ...
4            Average              C                ...

         Parcel ID       Land Use    Property Address Suite/ Condo   #  \
0  007 00 0 138.00  SINGLE FAMILY  1864 FOX CHASE  DR              NaN
1  007 00 0 143.00  SINGLE FAMILY  1853  FOX CHASE DR              NaN
2  007 10 0 009.00  SINGLE FAMILY     1972 TINNIN  RD              NaN
3  007 14 0 024.00  SINGLE FAMILY  1917 GRACELAND  DR              NaN
4  007 15 0 008.00  SINGLE FAMILY      1976 SADIE  LN              NaN

    Property City   Sale Date Sale Price   Legal Reference Sold As Vacant  \
0  GOODLETTSVILLE  2016-09-26     435000  20160927-0101718             No
1  GOODLETTSVILLE  2016-01-29     255000  20160129-0008913             No
2  GOODLETTSVILLE  2016-12-19     155000  20161220-0133510             No
3  GOODLETTSVILLE  2016-09-27     262000  20161005-0105441             No
4  GOODLETTSVILLE  2016-07-15     211500  20160720-0074793             No

  Multiple Parcels Involved in Sale
0                                No
1                                No
2                                No
3                                No
4                                No

[5 rows x 47 columns]

In [18]:
mydf.head()

,Unnamed: 0,Assessment Classification*,Assessment Improvement,Assessment Land,Assessment Total,Assessment Year,Baths,Beds,Building Condition,Building Grade,...,Parcel ID,Land Use,Property Address,Suite/ Condo #,Property City,Sale Date,Sale Price,Legal Reference,Sold As Vacant,Multiple Parcels Involved in Sale
0,0,RES,"$86,825","$20,000","$106,825",2019,3,4,Average,C,...,007 00 0 138.00,SINGLE FAMILY,1864 FOX CHASE DR,NaN,GOODLETTSVILLE,2016-09-26,435000,20160927-0101718,No,No
1,1,RES,"$46,650","$20,000","$66,650",2019,3,3,Average,C,...,007 00 0 143.00,SINGLE FAMILY,1853 FOX CHASE DR,NaN,GOODLETTSVILLE,2016-01-29,255000,20160129-0008913,No,No
2,2,RES,"$19,050","$20,800","$39,850",2019,1,3,Average,C,...,007 10 0 009.00,SINGLE FAMILY,1972 TINNIN RD,NaN,GOODLETTSVILLE,2016-12-19,155000,20161220-0133510,No,No
3,3,RES,"$49,450","$16,250","$65,700",2019,2,3,Average,C,...,007 14 0 024.00,SINGLE FAMILY,1917 GRACELAND DR,NaN,GOODLETTSVILLE,2016-09-27,262000,20161005-0105441,No,No
4,4,RES,"$36,950","$16,250","$53,200",2019,2,4,Average,C,...,007 15 0 008.00,SINGLE FAMILY,1976 SADIE LN,NaN,GOODLETTSVILLE,2016-07-15,211500,20160720-0074793,No,No